<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Regional DevOps Academy</title>
  <LINK href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<p>
  Hello from {{ ansible_fqdn }} !
</p>


</body>
</html>